pkgbase = android-vnc-viewer
	pkgdesc = Android camera recorder.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/android-vnc-viewer
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = android-recorder
	depends = libcrash-bash
	depends = record-tools
	source = android-vnc-viewer-68a06ec99ce19ebe33b871fc7396426f026dd827.zip::https://github.com/themartiancompany/android-vnc-viewer/archive/68a06ec99ce19ebe33b871fc7396426f026dd827.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = cfad77a638c57a817565f5c6f37a0b7a9f1c4777579c274a88c869c35fab723e

pkgname = android-vnc-viewer
